h1 {
  color: #27135C;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}

p {
  font-size: 16px;
  font-family: arial;
  text-align: center;
}

figure img {
  max-width: 75%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 8px;
  }

figcaption {
  font-size: 12px;
  font-family: arial;
  }

p img {
  width: 50;
  height: auto;
  margin-left: 20px;
  margin-bottom: 32px;
  border: 2px solid black;
  padding: 15px;
}

nav ul {
  background-color: #f0f0f0;
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  border-top: 1px solid #6a5acd;
  border-bottom: 1px solid #6a5acd;
}

nav ul li {

}

nav ul li a {
  color: #481c3c;
  text-decoration: none;
  padding: 6px;
  font-size: 16px;
  font-family: arial;
  display: block;
  }

nav ul li a:hover {
  background-color: #C6B0E9;
  text-transform: inherit;
  font-weight: bold;
}

nav ul li:last-child a {
  border-bottom: none;
}
