h1 {
  color: #27135C;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}

p {
  font-size: 16px;
  font-family: arial;
}

figure img {
  max-width: 75%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 8px;
  align: center;
  }

figcaption {
  font-size: 12px;
  font-family: arial;
  text-align: center;
}

p img {
  width: 50;
  height: auto;
  margin-left: 20px;
  margin-bottom: 32px;
  border: 2px solid black;
  padding: 15px;
}
